@font-face{
    font-family: 'Quicksand';
    src: url(../assets/Quicksand.ttf);
}
@font-face{
    font-family: 'SourceSansPro';
    src: url(../assets/SourceSansPro.ttf);
}
html,body{
    margin:0px;
padding: 0px;
max-width: 100vw;
font-family: 'Quicksand','SourceSansPro';
}
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #303F9F;
    color: #ffffff;
    font-family: 'Quicksand';
}